<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="mastermind-ball" >
    <template>
        <div class="game-balls-center">
            <div class="game-balls-center">
                <div id="game-balls" class="row" ng-repeat="elmt in gameArray" ng-init="parentIndex=$index">
                    <div style="float:left;margin-left:15px;margin-top:20px; border-radius:50px;" ng-repeat="x in elmt track by $index" ng-class="x">
                        <div id="bal" class={{x}} style="width:30px;height:30px;border-radius:50px;" ng-click="setValue(actualRow,parentIndex,$index,x)"></div>
                    </div>
                </div>
            </div>
        </div>
    </template>
</dom-module>

<script>
  Polymer({
    is: 'mastermind-ball'
  });
</script>