<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../elements/mastermind-ball.html">

<dom-module id="mastermind-master-balls">
    <template>
        <div ng-repeat="color in masterColors track by $index" style="float:left;">
            <div ng-if="$index == 0">
                <div id="masters-first" ng-class="color" ></div>
            </div>
            <div ng-if="$index != 0">
                <div id="masters" ng-class="color" ></div>
            </div>
        </div>
    </template>
</dom-module>

<script>
  Polymer({
    is: 'mastermind-master-balls'
  });
</script>