.welcome-header {
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: "Century Gothic", CenturyGothic, "Apple Gothic", sans-serif;
    background-color: #69C73A;
    color: white;
}

.game-text {
    font-size: 400%;
}

.welcome-text {
    margin-top: 30px;
    font-family: "Century Gothic", CenturyGothic, "Apple Gothic", sans-serif;
}

.info-text {
    font-family: "Century Gothic", CenturyGothic, "Apple Gothic", sans-serif;
    font-size: 120%;
    margin-top: 10px;
}

.github {
    border-style: solid;
    border-width: 1px;

}

.github-image {
    display: inline-block;
    padding: 15px!important;
    /*background: transparent url(assets/images/github.png) 0 0 no-repeat;*/
}

.github-text {
    display: inline-block;
    margin-top: 5px;
}

.github-link {
    color: white;
}

.github-link:hover  {
    color: white;
}

.github-link:visited  {
    color: white;
}

form[role=login] img {
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
    border-radius: 3px;
}

form[role=login] {
    color: #5d5d5d;
    background: #f2f2f2;
    padding: 26px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-top: 50px;
    align: center;
}

form[role=login] input, form[role=login] button {
    font-size: 18px;
    margin: 16px 0;
}

.btn-primary {
    font-family: "Century Gothic", CenturyGothic, "Apple Gothic", sans-serif;
    height: 40px;
}