.navbar .navbar-nav{
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-header {
    text-align: center;
}

.navbar-mastermind {
	width: 1000px;
}

#content {
	margin: 20px auto;
	width:970px;
}

#game-status {
    background: #FFCC99;
    border-radius: 3px;
}

#game-mastercolors {
   background: #99FF66;
   border-radius: 3px;
}

#game-gamefield {
    background: #f8f8f8;
    border-radius: 3px;
}

.xx {
    background: grey;
}

.bl {
    background: blue;
}

.gr {
    background: green;
}

.pu {
    background: purple;
}

.rd {
    background: red;
}

.gy {
    background: grey;
}

.yl {
    background: yellow;
}

.pk {
	background: pink;
}