<div class="welcome-header">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title"><span class="glyphicon glyphicon-warning-sign"></span> Error!</h3>
        </div>
        <div class="modal-body">
            <h4 class="error-message">Your email adress is wrong! It should have the following properties:</h4>
            <ul>
                <li>a local-part</li>
                <li>an at-sign(@)</li>
                <li>a domain part</li>
            </ul>
            <b>Example:</b> email@example.com
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>
    <div class="container">
        <div class="col-md-5">
            <hello-world></hello-world>
            <p class="game-text">HTWG Mastermind</p>
        </div>
        <div class="col-md-4 col-md-offset-3">
            <div class="github">
                <div class="github-image">
                    <a href="https://github.com/DennisMoosmann/de.htwg.wt.mastermind" target="_blank">
                        <img width="130" height="100" border="0" src="http://cdn.flaticon.com/png/256/2600.png"
                        class="carbonad-image carbonad-img" style="max-width:130px;">
                    </a>
                </div>
                <div class="github-text">
                    <a href="https://github.com/DennisMoosmann/de.htwg.wt.mastermind" class="github-link" target="_blank">
                        <small>Lookup source code on</small>
                        </br>
                        <big>GitHub!</big>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="welcome-text">
    <div class="container">
        <h1>Hello and welcome!</h1>
    </div>
</div>

</div>
<div class="info-text">
    <div class="container">
        <p>This is a webapplication of the board game "Mastermind" which was developed by Dennis Moosmann & Simon Braun
            at the <strong>University of Applied Science</strong> in Constance. To play the game you can either sign in with
            your <strong>Google+</strong> account or with a fake account! We hope you will enjoy!
        </p>
    </div>
</div>
<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <div class="bs-docs-header" id="login-range">
            <p class="sign-in-text">Sign in with <b>Google+</b> account:</p>
            <div class="google-sign-in">
                <div id="btnGoogle"></div>
            </div>
            <hr id="hr-login">
            <div class="login">
                <p class="sign-in-text">Sign in with fake account:</p>
                <input class="form-control input-lg" type="email" ng-model="userMail" ng-keydown="inputKeyDown($event)" placeholder="Email" autofocus>
                <input class="form-control input-lg" type="password" ng-model="userPassword" ng-keydown="inputKeyDown($event)" placeholder="Password">
                <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login(userMail, userPassword)">Sign in</button>
            </div>
        </div>
    </div>
</div>

